
/*.tela{
    background-image: url('../../img/rectangle.png');
    position: absolute;
    z-index: 3;
    bottom: 0px;
    
}*/




    
    
.shapes{
    
   
    
    position: absolute;
    z-index: 2;
    height: 181px;
    width: 121px;

}

.recicla{
        img{
        position: absolute;
        z-index: 3;
        height: 74px;
        width: 187.97px;
        margin-right: 12.47px;
        margin-left: 166px;
        top: 32px;
    }    
    
}

.rectangle{
    img{
    //display: flex;
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}


}

.residuos{

    img{
    position: absolute;
    z-index: 4;
    height: 297;
    object-fit: contain;
    top: 213px;
    margin: auto;
    left: 0;
    right: 0;
    
}


}

.lixo{

    img{
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    height: 153px;
    object-fit: contain;
    top: 249px;
    margin: auto;
}

}

.um {

    display: inline-block;

    img{
        display: inline-block;
        position: absolute;
        height: 37px;
        object-fit: contain;
        left: 35px;
        z-index: 6;
        top: 754px;
    } 

}

.pular {

    
    display: inline-block;
    position: absolute;
    z-index: 7;
    height: 42px;
    object-fit: contain;
    top: 754px;
    right: 22px;
    text-decoration-line: underline;
    line-height: 37.5px;
    letter-spacing: 0.1em;
    

}


    /*p{
        color: #666666;
        display: inline-block;
        position: absolute;
        z-index: 7;
        height: 42px;
        object-fit: contain;
        top: 754px;
        right: 22px;
        size: 25px;
        line-height: 37.5px;
        font-size: 20px;
        text-decoration-line: underline;
        letter-spacing: 0.1em;
        
        

    }*/
        
    
   
    
   
    
   






        
 
       
    
              

        
    
    
        
    
    
       

 
  
   





    
    
   

