.inicio {
  background-color: #ffffff;
  
  img{
      
    display: flex;
    
    height: 74px;
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;
      
}
     
  
  }


.telaInicial {
   
    img {
       display: flex;
       height: 245px;
       object-fit: contain;
       margin-left: auto;
       margin-right: auto;
       padding-top: 14px;
       padding-bottom: 3px;
       
    }
}


.textoUm {

    text-align: center;
    width: 299px;
    height: 21px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    padding-bottom: 18px;
    
  }



.textoDois{

    text-align: center;
    width: 313px;
    height: 186px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px ;
    padding-bottom: 42px;
    
}

.button{

    img{
    display: flex;
    height: 60px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto; 
    
    
    
    
    }
    
}

